<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>words count tool</title>
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"
    />
</head>
<body>
<form class="container my-5 text-center" method="post" action="{{ url_for('words_count_tool') }}">
    <div class="shadow-lg bg-transparent p-5 border rounded-5">
      <h1 class="display-4">حساب عدد الكلمات</h1>
        <hr>
      <p class="lead my-4">
          تعرض هذه الصفحة عدد الكلمات التي يتم حسابها عبر بوت تحديد البذور حيث يحذف البوت قالب البذرة إذا كان أعلى من ٥٠٠ كلمة حسب عدد الكلمات التي يظهر في هذه الصفحة
      </p>
         {% for message in messages %}
            <div class='alert alert-danger'>
                <p>{{ message['content'] }}</p>
            </div>
        {% endfor %}
      <div class="mb-3">
        <input type="text" required class="form-control" id="title" name="title" placeholder="ضع هنا اسم المقال "
            value="{{ request.form['title'] }}"
        >
      </div>
      <button type="submit" class="btn btn-success btn-lg">اعرض عدد الكلمات</button>

    </div>

</form>
</body>
</html>